<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
  <span class="toolbar-icon">
    <a mat-icon-button routerLink="/productos">
      <mat-icon>store</mat-icon>
    </a>
  </span>
  <span class="toolbar-icon">
    <a mat-icon-button routerLink="/buys">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
    </a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
<app-bottom-navigation></app-bottom-navigation>
