.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-info h3 {
    margin: 10px 0;
  }
  
  .product-info p {
    margin: 5px 0;
  }
  
  button {
    margin-top: 10px;
  }
  