/* styles.css (o styles.scss) */

.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0; /* Cambia el color de fondo según sea necesario */
  height: 64px; /* Ajusta la altura según sea necesario */
}

.bottom-navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px; /* Ajusta el padding según sea necesario */
}

.bottom-navigation a.active {
  color: blue; /* Color del icono activo */
}

.bottom-navigation a.mat-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px;
}

/* styles.css (o styles.scss) */
/* styles.css (o styles.scss) */

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.producto {
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
}

.add-to-cart-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: darkblue;
}

.disponibilidad {
  margin-top: 10px;
  font-weight: bold;
}

.disponible {
  color: green;
}

.no-disponible {
  color: red;
}
