<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <!-- Campos del formulario -->
  <label>
    Ingresar el nombre del cliente:
    <input formControlName="name">
  </label>
  <label>
    Fecha del pedido:
    <input type="date" formControlName="date">
  </label>
  <label>
    Celular del cliente:
    <input formControlName="phone">
  </label>
  <label>
    Dirección:
    <input formControlName="address">
  </label>
  <label class="barrio-input-container">
    Barrio:
    <input formControlName="barrio" (input)="onBarrioInput($event)">
    <div *ngIf="filteredBarrios.length > 0" class="dropdown">
      <div *ngFor="let barrio of filteredBarrios" (click)="selectBarrio(barrio)">
        {{ barrio }}
      </div>
    </div>
  </label>
  
  <label>
    Descripción del pedido:
    <textarea formControlName="description"></textarea>
  </label>

  <h2>Productos en el carrito:</h2>
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items$ | async">
        <td>{{ item?.product?.nombre }}</td>
        <td>
          <input class="quantity-input" type="number" [value]="item?.quantity" (change)="updateQuantity(item?.product, $event)" />
        </td>
        <td>
          <button type="button" (click)="removeFromCart(item?.product)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="submit">Enviar Pedido</button>
</form>
